<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'none'"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#15804B" />
  <meta name="description" content="Official Webstore Galeri Pelajar Nusantara.
      Dapatkan kebutuhanmu sebagai kader IPNU-IPPNU dan aksesoris menarik lainnya disini." />

  <link rel="apple-touch-icon" href="./icon-192x192.png" />
  <link rel="manifest" href="app.manifest" />
  <link rel="icon" href="./gpn-icon.png" />
  <title>Galeri Pelajar Nusantara - Official Webstore PC IPNU-IPPNU Kab. Kudus</title>
</head>

<body>
  <header-element></header-element>
  <loading-element></loading-element>
  <main id="mainContent">
  </main>
  <footer-element></footer-element>
</body>

</html>